.header {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.54);
  position: relative;
  z-index: 2;
}
.header .logo {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}
.header .return-button {
  padding-left: 1em;
  font-size: 1.5em;
  color: rgb(70, 70, 70);
}
.header .return-button.hidden {
  visibility: hidden;
}

footer {
  padding: 30px;
  background-color: #353535;
  color: white;
}
footer .logo {
  height: 1.5em;
  margin-bottom: 20px;
  filter: invert(100%);
}
footer ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
footer a i {
  margin-right: 10px;
}
footer a p {
  margin: 5px;
}

h1, h2, h3,
h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes hide {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.loading-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: hide 0s ease-in 3s forwards;
  background-color: white;
  z-index: 9999;
}
.loading-spinner i {
  animation: shrink 1s alternate infinite 0s;
  color: #9356DC;
}

.heart-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.heart-button i {
  font-size: 1.5em;
  padding-right: 10px;
  align-self: center;
}
.heart-button .fill-icon {
  font-size: 0em;
}

.heart-button:hover i {
  transition: font-size 0.2s;
  font-size: 1.5em;
  color: red;
}

.restaurant-card {
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 4px 6px 0px rgba(122, 122, 122, 0.25);
  text-decoration: none;
  color: inherit;
  position: relative;
}
.restaurant-card .thumbnail {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 20vh;
}
.restaurant-card .content {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-card .content .title {
  font-size: 1.2em;
  padding: 0;
  margin: 0px 0px 5px 0px;
}
.restaurant-card .content .description {
  padding: 0;
  margin: 0;
}
.restaurant-card .new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px;
  background-color: #99E2D0;
  color: #0e8f70;
  font-size: 800;
}

.step {
  padding: 1.5em 15px 1.5em 10px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 4px 6px 0px rgba(122, 122, 122, 0.25);
}
.step span {
  line-height: 1.5em;
  transform: translate(-100%);
  text-align: center;
  color: white;
  height: 1.5em;
  width: 1.5em;
  font-size: 0.9em;
  background-color: #9356DC;
  border-radius: 50%;
}
.step i {
  color: rgb(134, 134, 134);
  font-size: 1.2em;
  padding-right: 1em;
}
.step p {
  color: black;
  font-weight: 600;
}

.step:hover {
  background-color: #f5edff;
  color: #9356dc;
}
.step:hover i {
  color: #9356dc;
}

.location {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #101010;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}
.location i {
  padding-right: 15px;
}

.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.explore h1 {
  margin: 0;
  width: 70%;
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
.explore p {
  color: rgb(75, 75, 75);
  width: 90%;
  margin-bottom: 0.75em;
}
.explore button {
  margin-top: 10px;
  font-family: "Roboto";
}

.working {
  margin: 40px 20px;
}
.working .steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurants {
  padding: 40px 20px;
  background-color: #f6f6f6;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1em;
}

.primary-button {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  margin: 10px;
  padding: 15px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.2em;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.24);
  display: block;
}
.primary-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-item {
  animation: fade-in 0.5s;
  animation-fill-mode: forwards;
}

.menu-item:nth-child(1) {
  animation-delay: 0.3s;
}

.menu-item:nth-child(2) {
  animation-delay: 0.4s;
}

.menu-item:nth-child(3) {
  animation-delay: 0.5s;
}

.menu-item:hover > .select {
  transition: width 0.3s linear;
  visibility: visible;
  width: 15%;
}

.menu-item:hover > .select i {
  transition: transform 0.35s linear;
  animation-direction: reverse;
  transform: rotate(0deg);
}

.menu-item:hover > .item-details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.24);
  text-decoration: none;
  color: initial;
  opacity: 0;
}
.menu-item .item-details {
  padding: 10px;
  flex-grow: 1;
  font-size: 0.9em;
}
.menu-item p {
  font-size: 1em;
  margin-top: 5px;
  color: #525252;
}
.menu-item span {
  padding: 10px;
  align-self: flex-end;
  font-weight: 600;
}
.menu-item .select {
  width: 0%;
  display: flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  visibility: hidden;
}
.menu-item .select i {
  transform: rotate(360deg);
}

main.restaurant {
  background-color: #f6f6f6;
}

.restaurant .thumbnail {
  object-fit: cover;
  width: 100%;
  height: 25vh;
}
.restaurant .restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.restaurant .restaurant-name h1 {
  font-family: "Shrikhand";
  padding: 0;
  margin: 0;
}
.restaurant .menu {
  display: flex;
  flex-direction: column;
  transform: translate(0%, -5vh);
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
.restaurant .menu .menu-part {
  margin-bottom: 40px;
}
.restaurant .menu .menu-part h2 {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  color: #828282;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.restaurant .menu .menu-part h2:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 0%;
  border-bottom: 3px solid #99E2D0;
}
.restaurant .menu .menu-part .part-items {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.restaurant button {
  text-align: center;
  align-self: center;
}

/*# sourceMappingURL=main.css.map */
