@use "../abstracts/colors.scss";
@use "../animations/loading-spinner.scss";
@use "../components/cards/restaurant.scss";
@use "../components/cards/step.scss";
@use "../animations/hide-page.scss";
@import "../mixins/mq.scss";

$sections-padding: 40px 20px;
$sections-background: colors.$bg-light-gray;

$box-shadow: 2px 4px 6px 0px rgba(122, 122, 122, 0.25);

.location {
	background-color: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #101010;
	font-weight: 500;
	padding-top: 15px;
	padding-bottom: 15px;

	i {
		padding-right: 15px;
	}
}

.explore {
	background-color: colors.$bg-light-gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;

	h1 {
		margin: 0;
		width: 70%;
		font-size: 1.5em;
		margin-bottom: 0.75em;
	}

	p {
		color: rgb(75, 75, 75);
		width: 90%;
		margin-bottom: 0.75em;
	}

	button {
		margin-top: 10px;
		font-family: "Roboto";
	}
}

.working {
	margin: $sections-padding;

	.steps {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include desktop {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@include tablet {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	
}

.restaurants {
	padding: $sections-padding;
	background-color: colors.$bg-light-gray;

	.restaurants-cards {
		display: flex;
		flex-direction: column;
		gap: 1em;

		@include tablet {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@include desktop {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	
}
